<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    
    <form action=""  method="post" id="form">
        <div class="form">
            <h1>VARIEDADES NAII</h1>
            <h2>DATOS DE ENTREGA</h2> 
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Nombres completos</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Tipo de documento</label>
            </div>
            <div class="grupo">
                <input type="entero" name="" id="name" required><span class="barra"> </span>
                <label for="">Numero de documento</label>
            </div>
            <div class="grupo">
                <input type="email" name="" id="name" required><span class="barra"> </span>
                <label for="">Correo electronico</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Direccion</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Departamento</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Ciudad</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"> </span>
                <label for="">Telefono</label>
            </div>
            <h3>TOTAL A PAGAR : $ COP</h3>
            <button type="submit">COMPRAR AHORA!!</button>
        </div>
    </form> 

</body>
</html>