<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variedades naii</title>
    <link rel="stylesheet" href="estyle.css">
    <link rel="stylesheet">
</head>
<body>
    <header>
        <nav class="contenedor">
            <div class="logo">
                <img src="../images/logo3.jpg" alt="">
            </div>

            <form action=""  method="post" id="form">
                <div class="form">
            <h1>VARIEDADES NAII</h1></div></form> 
            <div class="enlaces">
                <a href="#uno">Inicio</a>
                <a href="#dos">Inventario</a>
                <a href="#tres">Productos</a>
                <a href="#cuatro">Contacto</a>
            </div>
            <div class="menu">
                <img src="../images/menu-alt-right-regular-48.png" alt="" id="menu">
            </div>
        </nav>
        <section class="hero__main container">

            <div class="hero__texts">
                <p class="hero__paragraph">Un par de zapatos ofrece, mucho mas que solo caminar!!      
                </p>
                <a href="#" class="cta"></a>

            </div>
        </section>
    </header>
</body>
</html>